{{define "head"}}
{{ partial "head.html" . }}
{{end}}

{{define "main"}}

<div id="landing-container">
  <div id = "landing-overlay" class="lt-content-column">
    <div>
      {{partial "landing.html" .}}
    </div>
  </div>
  {{partial "3dgraph.html" .}}
</div>

<!-- Main Page -->
<div class="singlePage">
    {{partial "darkmode.html" .}}
    {{partial "3dgraph.html" .}}
    {{.Content}}

    <!-- Contact Info -->
    <div>
        {{partial "footer.html" .}}
    </div>
</div>

{{ $css := slice "script.js" "darkmode.js" }}
{{range $css}}
{{- with resources.Get . | minify -}}
  <script>
    {{.Content | safeJS }}
  </script>
{{- end -}}
{{end}}
{{end}}
